<div class="top-menu">
  <nav class="container text-left">
    <a routerLink="/" routerLinkActive="active-link"><i class="material-icons menu-icons" mdTooltip="Home">home</i></a>
    <a routerLink="login" routerLinkActive="active-link"><i class="material-icons menu-icons" mdTooltip="Account">account_box</i></a>
    <a routerLink="new" routerLinkActive="active-link"><i class="material-icons menu-icons" mdTooltip="New Order">add_shopping_cart</i></a>
    <a routerLink="list" routerLinkActive="active-link"><i class="material-icons menu-icons" mdTooltip="Orders List">assessment</i></a>
  </nav>
</div>